<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>FlightAssist | Trip Information</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/flightassist.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Error -->
		<% if (typeof no_data !== "undefined") { %>
		<article id="first" class="container box style1 right">
			<a href="#" class="image fit"><img src="/images/pic01.jpg" alt="" /></a>
			<div class="inner">
				<header>
					<h2>An error<br />
					has occurred!</h2>
				</header>
				<p><b>Message:</b> <%= message %></p>   
            </div>
        </article>
        <% } else { %>
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Profile: <%= name %> | <%= company %> | <%= home %></h2>
				</header>
				<div id="flight-results">
                        <!-- trip data will be loaded here -->>
				</div>
				<div class="throbber-div" id="throbber-div-1">
                	<img src="/images/throbber.gif" class="ajax-loader" />
				</div>
            	<div id="flight-alternates">
                        <!-- alternate flight data will be loaded here -->>
				</div>
				<div class="throbber-div" id="throbber-div-2">
                	<img src="/images/throbber.gif" class="ajax-loader" />
            	</div>
			</section>
        <% } %>
		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="/images/pic01.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>More information<br />
						on the demo application</h2>
					</header>
                    <p>Please see our GitHub repository for more details: <a href="https://github.com/estesp/flightassist/" target="_blank">https://github.com/estesp/flightassist/</a></p>
				</div>
			</article>

			<section id="footer">
				<ul class="icons">
			          <li><a href="https://twitter.com/estesp" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			          <li><a href="https://github.com/estesp" class="icon fa-github"><span class="label">Twitter</span></a></li>
					  <li><a href="https://plus.google.com/+PhilEstes" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				      <li><a href="https://www.linkedin.com/in/estesp" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy; 2017 IBM Corp. All rights reserved. </li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</section>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
			<script src="/js/mustache.js"></script>
			<script type="text/javascript" src="/js/trips.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					//begin processing flight information
					parseTripsForFlights(true, false);
				});
			</script>
	</body>
</html>
